<p>
  {{link-to "Todo list" "todos.index" }}
</p>

<h1>Todo show</h1>

<p>
  <strong>Label:</strong>
  <span>{{model.label}}</span>
</p>

<p>
  <strong>Text:</strong>
  <span>{{model.text}}</span>
</p>

<p>
  <strong>Done:</strong>
  <span>{{model.done}}</span>
</p>

