<form {{action 'authenticate' on='submit'}}>
  <p>
    {{input id='username' placeholder='Enter login' value=username}}
  </p>
  <p>
    {{input id='password' placeholder='Enter password' type='password' value=password}}
  </p>
  <p>
    <button type="submit">Login</button>
  </p>

  {{#if error}}
  <p>{{error}}</p>
  {{/if}}

</form>
